*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0;
}

body{
    background-color: rgb(112, 112, 112);
}
.container{
    /* border: 5px solid; */
    height: 1000px;
    width: 60%;
    /* Dois valores no margin - primeiro (cima e baixo), segundo (direita e esquerda) */
    margin: 10px auto;
}
.cima{
    background-color: rgb(161, 0, 0);
    height: 50px;
    /* border: 1px solid; */
    /* width: 50px; */
    /* float: left; */
    /* padding-left: 50%; */
    /* padding: 50% 25%; */
    /* margin-left: 25%; */
    /* margin-right: 25%; */
}
.baixo-esquerda{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    /* margin-left: 20px; */
    /* margin-right: 25%; */
    /* margin-top: 400px; */
}
.direita-baixo{
    background-color: black;
    height: 100%;
    width: 50%;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
}
.cima h1{
    margin-left: 5px;
    margin-right: 5px;
}
.img{
    margin-left: 75px;
    height: 200px;
    border: 10px solid rgb(161, 0, 0);
    margin-top: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.baixo-esquerda h1{
    color: black;
    font-style: italic;
    /* margin-left: 20px; */
    text-align: center;
}
.baixo-esquerda h2{
    font-size: 20px;
    /* text-align: center; */
    margin-top: 20px;
    color: rgb(161, 0, 0);
    margin-bottom: 5px;
}
.baixo-esquerda p{
    /* margin-top: 10px; */
    color: black;
}
.baixo-esquerda h3, h4{
    /* margin-top: 10px; */
    color: black;
}
.abilidade{
    width: 150px;
    height: 10px;
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
}
.portugues{
    background-color: rgb(161, 0, 0);
    width: 99%;
    height: 100%;
    border-radius: 10px;
}
.ingles{
    background-color: rgb(161, 0, 0);
    width: 10%;
    height: 100%;
    border-radius: 10px;
}
.direita-baixo h2{
    /* margin-top: 100px; */
    color: white;
}
.direita-baixo p{
    color: white;
}
.direita-baixo hr{
    margin-left: -30px;
    margin-bottom: 20px;
}
.direita-baixo h3{
    color: rgb(161, 0, 0);
    margin-bottom: 5px;
}
li{
    color: white;
    margin-left: 16px;
    margin-bottom: 16px;
}
span{
    /* height: 40px; */
    /* width: 40px; */
    font-size: 17px;
    color: rgb(255, 255, 255);
}
.contatos{
    color: white;
}
.p{
    font-size: 14px;
    display: inline;
    text-decoration: none; 
}
a{
    text-decoration: none; 
}
.pp{
    font-size: 14px;
    display: inline;
    margin-left: 5px;
}
img{
    height: 17px;
}
.circulo{
    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: black;
    border-radius: 50%;
    display: inline-block
}
.circulo-vazio{
    width: 20px;
    height: 20px;
    border: 1px solid;
    background-color: rgb(153, 153, 153);
    border-radius: 50%;
    display: inline-block
}




